ion-content{
    --background: #f7f7f7;
}

ion-toolbar{
    --background: rgb(230, 230, 230);
}

ion-list {
    --ion-item-background: rgba(255, 255, 255, 0);
}

ion-item {
    --ion-item-background: rgba(255, 255, 255, 0);
    color:black;
}

ion-list-header{
    color:black;
    font-size: 200%;
}

ion-title{
    color: black;
}

#label{
    margin-left: 10px;
    text-transform: uppercase;
}
h3{
    text-align: center;
}

