<ion-split-pane>
  <ion-menu menuId="MenuRicardao" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item [routerLink]="['/lista-funcionarios']">
            <ion-icon slot="start" name="search"></ion-icon> Catálogo de Associados
          </ion-item>
          <!-- <ion-item [routerLink]="['/listar-associados']">
              <ion-icon slot="start" name="list"></ion-icon> Lista dos Associados
            </ion-item> -->
          <ion-item [routerLink]="['/cadastro-funcionario']" *ngIf="usuarioAssociado">
            <ion-icon slot="start" name="person-add"></ion-icon> Configurar Anúncio
          </ion-item>
          <ion-item [routerLink]="['']" *ngIf="usuarioAssociado">
            <ion-icon slot="start" name="copy"></ion-icon> Contratos
          </ion-item>
          <ion-item [routerLink]="['/minhaconta']" *ngIf="!usuarioAssociado">
            <ion-icon slot="start" name="people"></ion-icon> Minha Conta
          </ion-item>
          <ion-item [routerLink]="['']" *ngIf="!usuarioAssociado">
            <ion-icon slot="start" name="star"></ion-icon> Favoritos
          </ion-item>
          <!-- <ion-item [routerLink]="['/login']">
            <ion-icon slot="start" name="person"></ion-icon> Login
          </ion-item> -->
          <ion-item (click)="sair()">
            <ion-icon slot="start" name="exit"></ion-icon> Sair
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>